---
id: {{ id }}
status: {{ status }}
---

# {{ title }}
{% if description %}

{{ description }}
{% endif %}
{% if extra_sections %}

{{ extra_sections }}
{% endif %}
{% if subtasks %}

## Subtasks

{% for subtask in subtasks %}
{% if subtask.is_inline %}
{% if subtask.status.value == "cancelled" %}
- [{{ subtask.status | checkbox }}] ~~{{ subtask.id }}: {{ subtask.title }}~~
{% else %}
- [{{ subtask.status | checkbox }}] {{ subtask.id }}: {{ subtask.title }}
{% endif %}
{% else %}
{% set link = subtask.ref ~ "/" if subtask.extended else subtask.ref ~ ".md" %}
{% if subtask.status.value == "cancelled" %}
- [{{ subtask.status | checkbox }}] ~~[{{ subtask.id }}]({{ link }}): {{ subtask.title }}~~
{% else %}
- [{{ subtask.status | checkbox }}] [{{ subtask.id }}]({{ link }}): {{ subtask.title }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
