---
id: {{ id }}
status: {{ status }}
---

# {{ title }}
{% if description %}

{{ description }}
{% endif %}
{% if subtasks %}

## Subtasks

{% for subtask in subtasks %}
- [{{ subtask.status | checkbox }}] {{ subtask.id }}: {{ subtask.title }}
{% endfor %}
{% endif %}
